.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 30px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.App-intro {
  font-size: large;
}
h3 {
  margin: 0px;
}

.menu__item {
  display: inline-block;
  margin-left: 10px;
  color: white;
}

.menu-item__link:visited {
  color: lightgray;
}

.menu-item__link:hover {
  color: lightgreen;
}