.App {
  text-align: center;
}


header {
  background-color: #222;
  flex-basis: 80px;
  padding: 30px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
}

@media screen and (max-width: 400px) {
  header {
    padding: 5px;
  }
}
h3 {
  margin: 0px;
}

.menu__item {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin-left: 10px;
  color: white;
}

.menu-item__link:visited {
  color: lightgray;
}

.menu-item__link:hover {
  color: #cad473;
}

nav {
  display: flex;
  flex-flow: row wrap;

}