.freeRoom, .notFreeRoom {
    fill: white;
}

.freeRoom {
    fill: #cad473;
}
.notFreeRoom {
    stroke: #87232f;
}

.freeRoom + .roomText {
    /*color: #4a5a1c;*/
    color: white;
}

.notFreeRoom + .roomText {
    color: white;
}